<div class="row animated fadeIn">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <input
          #input
          type="text"
          class="form-control"
          placeholder="Buscar hospitales"
          name="termino"
          (keyup)="buscar(input.value)"
        />
      </div>
    </div>
  </div>
</div>

<div class="row" *ngIf="cargando">
  <div class="col-sm-12">
    <div class="alert alert-warning text-center">
      <strong>Cargando...</strong>
      <br />
      <i class="fa fa-refresh fa-spin fs-2x"></i>
      <br />
      <span>Espere por favor</span>
    </div>
  </div>
</div>

<div class="row" *ngIf="!cargando">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <div class="card-title">
          <h3>
            Hospitales (<small>{{ total }}</small
            >)
          </h3>
          <div style="width: 155px">
            <button class="btn btn-success btn-block" (click)="crearHospital()">
              <i class="fa fa-plus-circle"></i> Crear hospital
            </button>
          </div>
        </div>

        <table class="table table-hover">
          <thead>
            <tr>
              <th>Imagen</th>
              <th>Nombre</th>
              <th>Creado Por</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let hospital of hospitales">
              <td class="w70">
                <img
                  [src]="hospital.img | imagen: 'hospital'"
                  alt="Imagen de Hospital"
                  class="img50 img-circle marginSm pointer"
                  (click)="mostrarModal(hospital._id)"
                />
              </td>
              <td>
                <input
                  #nombre
                  type="text"
                  [placeholder]="hospital.nombre"
                  [value]="hospital.nombre"
                />
              </td>
              <td>{{ hospital.usuario.email }}</td>
              <td>
                <button
                  class="btn btn-primary marginXsm"
                  (click)="guardarHospital(hospital, nombre.value)"
                >
                  <i class="fa fa-save"></i>
                </button>
                <button
                  class="btn btn-danger marginXsm"
                  (click)="borrarHospital(hospital)"
                >
                  <i class="fa fa-trash-o"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
        <button class="btn btn-secondary marginSm" (click)="pasarPagina(-1)">
          Anteriores
        </button>
        <button class="btn btn-secondary" (click)="pasarPagina(1)">
          Siguientes
        </button>
      </div>
    </div>
  </div>
</div>
